.login_box
{
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:20em;
	margin-top: -10em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	background-image: url(images/Login-Box.jpg);
	background-repeat:no-repeat;
	padding-top:7px;
}
.login_box .heading
{
	width:422px;
	font-family:Arial;
	font-size:14pt;
	font-weight:bold;
	color:#ffffff;
	height:33px;
	line-height:33px;
	margin-left:auto;
	margin-right:auto;

}
.login_box .content
{
	width:380px;	
	height:210px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
}
.app_label
{
	font-family: verdana;
	font-size: small;
	font-weight: normal;
	color: #000000;
	vertical-align:middle;
}