.menu
{
    POSITION: relative;
    MARGIN: 0;
}

.menu UL
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    

}
.menu UL LI
{
    POSITION: relative;
    FLOAT: left;
    MARGIN-RIGHT: 1px;
    text-align:left;
}
.menu UL LI UL
{
    DISPLAY: none;
    z-index:200;
    
}

.menu UL LI:hover UL
{
    POSITION: absolute;
    DISPLAY: block;
    padding:5px;
    TOP: 5px;
    LEFT: 0px
}


.menu UL LI:hover UL LI A
{
    padding: 2px 2px 2px 5px;
    WIDTH: 183px;
    DISPLAY: block;
    color:#000000;
    BACKGROUND: #d4d0c8;
    font-family:Arial;
    text-decoration:none;
    font-size:9pt;
}
.menu UL LI:hover UL LI A:hover
{
    padding: 2px 2px 2px 5px;
    WIDTH: 183px;
    DISPLAY: block;
    color:#FFFFFF;
    BACKGROUND: #0a246a;
    font-family:Arial;
    text-decoration:none;
    font-size:9pt;
}
.menu UL LI:hover UL LI img
{
    padding: 0px 0px 0px 0px;
    margin:0;
    height:4px;
    DISPLAY: block;
    
}
.menu UL LI:hover UL LI img:hover
{
	padding: 0px 0px 0px 0px;
    margin:0;
    height:4px;
    DISPLAY: block;
}
.menu UL LI UL li.SubMenu
{
	padding: 2px 2px 2px 5px;
    WIDTH: 183px;
    DISPLAY: block;
    color:#000000;
    BACKGROUND: #d4d0c8;
    font-family:Arial;
    text-decoration:none;
    font-size:9pt;
    cursor:pointer;
    background-image:url(images/arrow.gif);
    background-repeat:no-repeat;
    background-position:right;
}
.menu UL LI UL li.SubMenu:hover
{
	BACKGROUND: #0a246a;
	color:#FFFFFF;
	background-image:url(images/arrow_over.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.menu UL LI UL li.SubMenuLeft
{
	padding: 2px 2px 2px 5px;
    WIDTH: 183px;
    DISPLAY: block;
    color:#000000;
    BACKGROUND: #d4d0c8;
    font-family:Arial;
    text-decoration:none;
    font-size:9pt;
    cursor:pointer;
    background-image:url(images/arrow.gif);
    background-repeat:no-repeat;
    background-position:right;
}
.menu UL LI UL li.SubMenuLeft:hover
{
	BACKGROUND: #0a246a;
	color:#FFFFFF;
	background-image:url(images/arrow_over.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.menu UL LI UL li.SubMenu ul
{
    DISPLAY: none;
    z-index:300;
    margin:0;
    padding:0;
}
.menu UL LI UL li.SubMenu:hover ul
{
    POSITION: absolute;
    DISPLAY: block;
    padding:0px;
    TOP:0px;
    LEFT: 190px
}
.menu UL LI UL li.SubMenuLeft ul
{
    DISPLAY: none;
    z-index:300;
    margin:0;
    padding:0;
}
.menu UL LI UL li.SubMenuLeft:hover ul
{
    POSITION: absolute;
    DISPLAY: block;
    padding:0px;
    TOP:0px;
    LEFT: -190px
}